@charset "UTF-8";

/* リセット */
html {
  margin: 0;
	padding: 0;
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body * {
  position: relative;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p,
figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  color: #3C3633;
}

a {
  color: #3C3633;
  transition: all .3s;
}

a:hover {
  opacity: .7;
}

button {
  appearance: none;
  border: none;
  padding: 0;
}

.inner {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

main .inner {
  padding: 0 0 80px;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

section {
  padding: 0 0 100px;
}

section .title {
  text-align: center;
  font-family:  Reenie Beanie, serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 6.5rem;
  line-height: 1.4;
  margin: 0 0 80px;
}

section .title:before {
  content: '';
  display: block;
  width: 73px;
  height: 71px;
  position: absolute;
  left: 75px;
  top: 28px;
  background: url(images/footprints03.png) no-repeat center center / contain;
  z-index: -1;
}

section .title .sub {
  font-family: "Zen Kaku Gothic New", sans-serif;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  position: absolute;
}

.item {
  width: calc(50% - 30px);
  margin: 0 0 80px;
}

@media (max-width: 767px) {
  .item {
    width: 77.6%;
    margin: 0 auto 40px;
  }
}

.item > img {
  display: block;
  margin: 0 0 30px;
}

.item > h2 {
  border-bottom: 1px solid #3C3633;
  margin: 0 0 30px;
}

.button {
  display: block;
  width: 260px;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: -10px;
}

.price {
  width: 170px;
  height: 32px;
  margin: 0 0 0 auto !important;
  background: #3C3633;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price .box {
  font-size: 1.8rem;
}

.footprints {
  position: absolute;
}


/* ---------------------------- header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 767px) {
  header {
    position: fixed;
    display: block;
    padding: 20px;
    width: 230px;
    left: auto;
    top: 86px;
    right: 5%;
  }
}

header .inner {
	height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
  color: #3C3633;
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  header .inner {
    height: auto;
    display: block;
    font-size: 1.5rem;
  }
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  header nav ul {
    display: block;
  }
}

@media (max-width: 767px) {
  header nav ul.sns {
    display: none;
  }
}

header nav li {
  margin: 0 0 0 30px; 
}

@media (max-width: 767px) {
  header nav li {
    margin: 0 0 15px; 
  }
}

@media (max-width: 767px) {
  header nav .menu-btn {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 20px;
    right: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 0;
  }

  header nav .menu-btn span {
    display: block;
    width: 45px;
    height: 2px;
    background: #3C3633;
    position: absolute;
    /* 山田追加 */
    padding: 0 min(2rem, 20px);
    background-color: #FFF8DC;
    border-radius: 999px;
    /* 山田追記 */


  }

  header nav .menu-btn span:nth-of-type(1) {
    left: 7px;
    top: 20px;
  }

  header nav .menu-btn span:nth-of-type(2) {
    left: 7px;
    top: 38px;
  }
}


/* ---------------------------- kv */
.kv {
  position: relative;
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("images/main_visual.png");
  background-position: center top
}

.kv .lead {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  top: 143px;
  right: calc(calc(100% - 960px) / 2);
  text-align: center;
}

.kv .logo {
  position: absolute;
  bottom: 40px;
   right: calc(calc(calc(100% - 960px) / 2) + 50px);
}

@media (max-width: 767px) {
  .kv {
    height: 650px;
    background-size: 581px 380px;
  }

  .kv .lead {
    color: #3C3633;
    top: 393px;
    width: 100%;
    right: 0;
    /* 山田追加 */
    background: #ABC4AA;
    padding: auto;
    /* 山田追加 */
  }

  .kv .logo {
    width: 271px;
    bottom: auto;
    top: 232px;
    right: 50%;
    transform: translateX(50%);
  }

  /* 山田追加 */
  .g-header-nav {
    padding: 0 min(2rem, 20px);
    margin-right: min(1.6rem, 16px);
    background-color: #E2DBD3;
    border-radius: 999px;
  }
  /* 山田追加 */
}


/* ---------------------------- About */
#about {
  padding: 215px 0 230px;
}

#about .inner {
  max-width: 1096px;
  margin: 0 auto 50px;
}

@media (max-width: 767px) {
  #about .inner {
    display: block;
  }
}

#about .flex .text-blk {
  width: 33%;
  margin: 0 0 0 68px;
}

@media (max-width: 767px) {
  #about .flex .text-blk {
    width: 100%;
    margin: 0;
  }
}

#about .title {
  text-align: left;
  margin: 0 0 30px;
}

#about .title .sub {
  position: relative;
  margin: 0 0 0 86px;
}

#about .flex .text-blk p {
  font-size: 1.6rem;
  line-height: 1.3125;
}

#about .flex .about_photo_2 {
  width: 56%;
}

@media (max-width: 767px) {
  #about .flex .about_photo_2 {
    width: 308px;
  }
}

#about .about_photo_2:after {
  content: '';
  display: block;
  width: 140px;
  height: 190px;
  position: absolute;
  left: -52px;
  top: -78px;
  background: url(images/bg01.png) no-repeat center center / contain;
  z-index: -1;
}

@media (max-width: 767px) {
  #about .about_photo_2:after {
    width: 110px;
    height: 140px;
    left: 0;
    top: -48px;
  }
}

#about .about_photo_1 {
  position: absolute;
  width: 222px;
  top: 33px;
  left: 5px;
  transform: rotate(4deg);/* 傾き */
}

#about .about_photo_3 {
  position: absolute;
  width: 267px;
  bottom: 100px;
  right: calc(calc(50% - 548px) + 68px);
  transform: rotate(-4deg);/* 傾き */
}

@media (max-width: 767px) {
  #about .about_photo_3 {
    position: relative;
    width: 234px;
    bottom: auto;
    right: 5%;
  }
}

#about .button {
  width: 460px;
  bottom: 230px;
  left: calc(calc(50% - 548px) + 68px);
}

#about .button:after {
  content: '';
  width: 65px;
  height: 65px;
  display: block;
  position: absolute;
  left: 248px;
  top: -51px;
  background: url(images/cat01.png) no-repeat center center / contain;
}

#about .flex .footprints:nth-of-type(1) {
  width: 102px;
  right: 50px;
  top: -120px;
}

#about .flex .footprints:nth-of-type(2) {
  width: 24px;
  right: 400px;
  top: -40px;
}

#about .flex .footprints:nth-of-type(3) {
  width: 24px;
  right: 430px;
  top: 15px;
}

#about .flex .footprints:nth-of-type(4) {
  width: 24px;
  right: 50%;
  bottom: -150px;
  transform: rotate(338deg);
}

#about .flex .footprints:nth-of-type(5) {
  width: 24px;
  right: 0;
  bottom: -240px;
}


/* ---------------------------- 新着メニュー */
#new-arrivals .title:before {
  left: 50%;
}

#new-arrivals .title .sub {
  left: calc(50% + 120px);
}

#new-arrivals .item:nth-of-type(1):after {
  content: '';
  width: 80px;
  height: 51px;
  display: block;
  position: absolute;
  left: 0;
  top: -35px;
  background: url(images/cat02.png) no-repeat center center / contain;
}

#new-arrivals .item:nth-of-type(3):after {
  content: '';
  width: 46px;
  height: 92px;
  display: block;
  position: absolute;
  left: 50px;
  bottom: -170px;
  background: url(images/cat03.png) no-repeat center center / contain;
}

#new-arrivals .item > p {
  margin: 0 0 30px;
}

#new-arrivals .item:nth-of-type(1) .footprints {
  width: 24px;
  right: 145px;
  bottom: -34px;
  margin: 0;
}

#new-arrivals .item:nth-of-type(3) .footprints {
  width: 75px;
  right: 170px;
  bottom: -80px;
  margin: 0;
}

#new-arrivals .flex .footprints:nth-of-type(1) {
  width: 127px;
  left: -62px;
  top: -270px;
}


/* ---------------------------- ドリンク */
#drink .title:before {
  left: 50%;
}

#drink .title .sub {
  left: calc(50% + 120px);
}

#drink .item:nth-of-type(2):after {
  content: '';
  width: 81px;
  height: 81px;
  display: block;
  position: absolute;
  right: 30px;
  bottom: 110px;
  background: url(images/cat04.png) no-repeat center center / contain;
}

#drink  .item:nth-of-type(4) .footprints {
  width: 66px;
  left: 70px;
  bottom: -20px;
  margin: 0;
}

#drink  .item:nth-of-type(5) .footprints {
  width: 95px;
  left: 40px;
  bottom: -100px;
  margin: 0;
}

#drink  .item:nth-of-type(6) .footprints {
  width: 105px;
  left: -60px;
  bottom: -120px;
  margin: 0;
}

#drink .flex .footprints:nth-of-type(1) {
  width: 88px;
  right: 70px;
  top: -230px;
}



/* ---------------------------- footer */
footer {
  background: #E2DBD3;
  padding: 80px 0 55px
}

footer .inner {
  max-width: 1040px;
}

footer .info-blk {
  margin: 0 auto 60px;
}

footer .info-blk:after {
  content: '';
  width: 63px;
  height: 66px;
  display: block;
  position: absolute;
  right: 30px;
  top: -143px;
  background: url(images/cat06.png) no-repeat center center / contain;
}

footer .info:after {
  content: '';
  width: 74px;
  height: 58px;
  display: block;
  position: absolute;
  right: -110px;
  bottom: -60px;
  background: url(images/footprints11.png) no-repeat center center / contain;
}

footer .info {
  width: 42.7%;
  height: 420px;
  background: #ABC4AA;
  text-align: center;
  padding: 85px 0 0;
}

footer .info h1 {
  width: 184px;
  position: absolute;
  left: 70px;
  top: -10px;
}

footer .info .shop_logo {
  width: 325px;
  margin: 0 auto 20px;
}

footer .info > div {
  display: inline-block;
  text-align: left;
}

footer .info > div dt {

}

footer .info > div dd {
  margin: -1.7em 0 0 77px;
}

footer .info + img {
  width: 57.3%;
  height: 420px;
  object-fit: cover;
}

footer .info p {
  text-align: left;
}

footer .cp-blk {
  align-items: flex-end;
  justify-content: flex-start;
}

footer .cp-blk .sns {
  text-align: center;
  margin: 0 0 0 450px;
}

@media (max-width: 767px) {
  footer .cp-blk .sns {
    display: none;
  }
}

footer .cp-blk .sns p:before {
  content: '';
  width: 12px;
  height: 23px;
  display: block;
  position: absolute;
  left: -80px;
  bottom: 0;
  background: url(images/line.png) no-repeat center center / contain;
}

footer .cp-blk .sns p:after {
  content: '';
  width: 12px;
  height: 23px;
  display: block;
  position: absolute;
  right: -80px;
  bottom: 0;
  background: url(images/line.png) no-repeat center center / contain;
  transform: scale(-1, 1);
}



